ColorPalette/
Fire2012WithPalette/
First Build Code/
LEDStrip_nov24a/
Microproject1/
Microproject2/
Microproject3/
Microproject4/
Microproject5/
Microproject6/
Project 1/
Project 2/
Project 3 Fast LED/
RGBCalibrate/
libraries/
test/
test_reciever/
test_sender/
FastLEDSend/arduino_secrets.h